/* general style at the body level */
body {
    max-width: 768px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 34px;
    border: 2px solid black;    
    box-shadow: 10px 10px;
    margin: auto;
}
/* style for the header */
.headerpic {
    width: 768px;
    max-height: 100px;
    border-bottom: 1px solid black;
}
.headertexttop {
    font-size: 34px;
    line-height: 48px;
    font-weight: 600;
}
.headertextbottom,
#gameover {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}
/* rest of the page */
.pagehead {
    background-color: burlywood;
}
.headtext {
    text-align: center;
    color: #fff;
}
table {
    width: 100%;
    border-top: 1px solid black;
}
td {
    width: 50%;
    vertical-align: middle;
    background-color: burlywood;
}
.colleft {
    align-items: left;
}
.colright {
    text-align: center;
}
#gameover {    
    color: red;
}